.headerBanner {
	padding: 20px;
	color: white;
	font-weight: bold;
	background-color: #3f51b5;
}

.content {
	padding: 5px;
	background-color: black;
	display: flex;
}

.trialContainer {
	display: flex;
	padding: 10px;
	justify-content: center;
}

.trialCountry {
	color: white;
	padding-left: 10px;
}
