.detailsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex: 1 0 25%;
  margin: 5px;
}

.detailsData {
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}
