.headerBanner {
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--header-bg);
}

.content {
  padding: 5px;
  background-color: var(--bg);
  display: flex;
}

.trialContainer {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.trialCountry {
  color: white;
  padding-left: 10px;
}

.sortTitle {
  margin-right: 5px;
  color: white;
  font-size: 14px;
}

.actionItems {
  float: right;
  display: flex;
  align-items: center;
}

.rightColumn {
  display: flex;
  flex-direction: column;
}
